@charset "UTF-8";

/* 전체 페이지 스타일 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #f3f4f6;
    font-family: 'Source Sans 3', sans-serif;
}

/* 페이지 컨테이너 */
.page-main {
    width: 350px;
    background: #e5e7eb;
    border: 3px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom: 20px;
}

/* 로고와 타이틀 */
.login-title {
    background: #e5e7eb;
    text-align: center;
    padding: 15px;
}
.login-title .navbar__logo {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.login-title .navbar__logo i {
    color: #d48566;
}
/* 입력 필드와 라벨 */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li {
    margin-bottom: 15px;
    text-align: center;
}
ul li label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
ul li input {
    width: 80%;
    height: 36px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
}

/* 비밀번호 찾기 버튼 스타일 */
.buttons-row {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    margin-top: 20px;
}
.buttons-row input[type="submit"] {
    width: 120px; /* 버튼 크기 조정 */
    height: 36px; /* 버튼 높이 조정 */
    padding: 5px;
    font-size: 14px; /* 글꼴 크기 */
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background: #d48566;
    cursor: pointer;
    transition: background 0.3s;
}
.buttons-row input[type="submit"]:hover {
    background: #d12e39;
}

/* 다른 버튼 스타일 */
.links-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.links-row button {
    width: 100px; /* 버튼 크기 조정 */
    height: 30px;
    font-size: 12px;
    color: #ffffff;
    background: #d48566;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.links-row button:hover {
    background: #d12e39;   
}

/* 메시지 스타일 */
.error-message {
    color: #d48566;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}